body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4em;
    top: 15%;
		/* background: linear-gradient(to right, rgb(248, 214, 48), rgb(255, 117, 152)); */
	background: linear-gradient(to right, rgb(225, 250, 189), rgb(255, 194, 194));  /* Standard syntax */

}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4em;
    /* width: 100%; */
		margin: 5%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

h2{
	margin: 5%;
}

.btn-group{
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
		background: linear-gradient(to right, blue , yellow);

}
.btn-group:hover {
	background-color: white;
	}


	/* Style the tab */
	.tab {
	  overflow: hidden;
	  border: 1px solid #ccc;
	  background-color: #f1f1f1;

	}

	/* Style the buttons that are used to open the tab content */
.tab button {
	  background-color: inherit;
	  float: center;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
}

	/* Change background color of buttons on hover */
.tab button:hover {
	  background-color: #ddd;
}

	/* Create an active/current tablink class */
.tab button.active {
	  background-color: #ccc;
}

	/* Style the tab content */
.tabcontent {
	  display: none;
	  padding: 6px 12px;
	  border-top: none;
}


@media only screen and (max-width: 690px) {
	h1{
	 font-size: 2em;
	}
	body{
	 font-size: 1em;

	}
	.tab {
		font-size: 1.1em;
	    overflow: hidden;
	    border: 1px solid #ccc;
	    background-color: #f1f1f1;
	}
	h2{
		font-size: 1.2em;
	}
	.tab button {
		  background-color: inherit;
		  float: center;
		  border: none;
		  outline: none;
		  cursor: pointer;
		  padding: 10px 14px;
		  transition: 0.3s;
	}
	}

	@media only screen and (max-width: 420px) {
		h1{
		 font-size: 1.5em;
		}
		body{
		 font-size: 1em;

		}
		.tab {
			font-size: 1em;
		    overflow: hidden;
		    border: 1px solid #ccc;
		    background-color: #f1f1f1;
		}
		h2{
			font-size: 1em;
		}
		.tab button {
			  background-color: inherit;
			  float: center;
			  border: none;
			  outline: none;
			  cursor: pointer;
			  padding: 10px 14px;
			  transition: 0.3s;
		}
		}
